@model List<CategoryRequestModel>

<h2>
    <span class="text-danger">@TempData["Message"]</span>
</h2>


<h3><a asp-controller="Category" asp-action="CreateCategory" class="btn-primary"> Click to add a new category </a></h3>
<h3><a asp-controller="Product" asp-action="Index">-> Go to product page</a></h3>
<h3><a asp-controller="Order" asp-action="Index">-> Go to order page </a></h3>
<br />

<section class="panel">

    <header class="panel-heading">
        DataTables hidden row details example
    </header>

    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">

                @*
                Başlıklar sütunlara denk gelmesi gerekli yoksa patlarsınız..
                *@

                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th class="hidden-phone">Description</th>
                        <th class="hidden-phone">Status</th>
                        <th class="hidden-phone">Update</th>
                        <th class="hidden-phone">Delete</th>
                        <th class="hidden-phone">Destroy</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (CategoryRequestModel item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>@item.CategoryName </td>
                            <td class="hidden-phone">@item.Description</td>
                            <td class="center hidden-phone">@item.Status</td>
                            <td class="center hidden-phone"><a asp-action="UpdateCategory" asp-route-id="@item.ID" class="btn btn-warning">Update</a></td>
                            <td class="center hidden-phone"><a asp-action="DeleteCategory" asp-route-id="@item.ID" class="btn btn-danger">Delete</a></td>
                            <td class="center hidden-phone"><a asp-action="DestroyCategory" asp-route-id="@item.ID" class="btn btn-info">Destroy</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</section>
