@model List<OrderRequestViewModel>


<h3><a asp-controller="Category" asp-action="Index">-> Go to category page </a></h3>
<h3><a asp-controller="Product" asp-action="Index">-> Go to product page</a></h3>
<br />


<section class="panel">

    <header class="panel-heading">
        DataTables hidden row details example
    </header>

    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Shipping Address</th>
                        <th class="hidden-phone">Name Description</th>
                        <th class="hidden-phone">Products</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (OrderRequestViewModel item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>@item.ShippingAddress </td>
                            <td class="hidden-phone">@item.NameDescription</td>
                            <td>
                                <ul>
                                    @foreach (OrderDetailViewModel orderItem in item.OrderDetails)
                                    {
                                        <li>@orderItem.Quantity x @orderItem.ProductName</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>
